<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjut.azhen.ncov.mapping.RegionMapper">
    <resultMap id="RegionResultMap" type="com.zjut.azhen.ncov.bean.Region">
        <result column="id" javaType="int" jdbcType="INTEGER" property="id"/>
        <result column="name"  javaType="string" jdbcType="VARCHAR" property="name"/>
        <result column="confirmed" javaType="int" jdbcType="INTEGER" property="confirmed"/>
    </resultMap>

    <select id="getRegionRealtimeById" resultType="com.zjut.azhen.ncov.bean.Region">
        SELECT id,provinceName name,confirmedCount confirmed FROM ncov.epidemicin where id=#{id}
    </select>
    <select id="getRegions" resultType="com.zjut.azhen.ncov.bean.Region">
        SELECT id,provinceName name,confirmedCount confirmed FROM ncov.epidemicin
    </select>
    <select id="getWorld" resultType="com.zjut.azhen.ncov.bean.Region">
        SELECT id,countryName name,confirmedCount confirmed FROM epidemicall
    </select>
    <select id="getWorldRank" resultType="com.zjut.azhen.ncov.bean.Region">
        SELECT countryName name, confirmedCount confirmed FROM epidemicall
            order by confirmedCount desc
        <if test="base !=null and offset !=null">
            limit #{base},#{offset}
        </if>
    </select>
    <select id="getChinaRank" resultType="com.zjut.azhen.ncov.bean.Region">
        SELECT provinceName name, confirmedCount confirmed FROM epidemicin
        order by confirmedCount desc
        <if test="base !=null and offset !=null">
        limit #{base},#{offset}
    </if>
    </select>


</mapper>